<?xml version="1.0" encoding="utf-8"?>
<module>
<name>xBilling</name>
<version>1.0.2</version>
<defaultcat>Reseller</defaultcat>
<type>user</type>
<desc>This module empower ZPanel with the ability of billable clients.</desc>
<authorname>Aderemi Adewale (modpluz @ ZPanel Forums)</authorname>
<authoremail>goremmy@gmail.com</authoremail>
<authorurl>http://www.remmy.me/</authorurl>
<updateurl>http://zpx.imerlabs.com/xbilling.xml</updateurl>
</module>
